<!--
Ecology workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization in spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for data cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Continuation of R: data analysis & visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<!--
Genomics workshop
-->
<!--
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.github.io/organization-genomics/">Project organization and management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.github.io/shell-genomics/">Introduction to the command line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Data wrangling and processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.github.io/wrangling-genomics/">Continuation: Data wrangling and processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="http://www.datacarpentry.org/cloud-genomics/">Introduction to cloud computing for genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
-->

<!--
Social science
-->

<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, 9 July 2019</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>09.00 - 09.50</td> <td><a href="https://datacarpentry.org/r-socialsci/00-intro/index.html">Overview on R & RStudio; why learn R; navigating RStudio</a></td></tr>
      <tr><td>09.50 - 10.00</td> <td>(COFFEE/TEA) BREAK</td></tr>
      <tr><td>10.00 - 12.00</td> <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></td></tr>
      <tr><td>12.00 - 13.00</td> <td>LUNCH BREAK</td></tr>
      <tr><td>13.00 - 15.00</td> <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with (Tabular) Data </a></td></tr>
      <tr><td>15.00 - 15.15</td> <td>(COFFEE/TEA) BREAK</td></tr>
      <tr><td>15.15 - 16.00</td> <td><a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html">Starting with (Tabular) Data (expanded)</a></td></tr>
      <tr><td> </td> <td>END</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, 10 July 2019</h3>
    <table class="table table-striped">
      <tr><td>09.00 - 10.30</td> <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data wrangling with <code><a href="https://dplyr.tidyverse.org">dplyr</a></code> and <code><a href="https://tidyr.tidyverse.org">tidyr</a></code></a> (I)</td></tr>
      <tr><td>10.30 - 10.45</td> <td>(COFFEE/TEA) BREAK</td></tr>
      <tr><td>10.45 - 12.00</td> <td><a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html">Data wrangling with <code><a href="https://dplyr.tidyverse.org">dplyr</a></code> and <code><a href="https://tidyr.tidyverse.org">tidyr</a></code></a> (II)</td></tr>
      <tr><td>12.00 - 13.00</td> <td>LUNCH BREAK</td></tr>
      <tr><td>13.00 - 15.00</td> <td><a href="">Data visualisation with <a href="https://ggplot2.tidyverse.org"><code>ggplot2</code></a></a> (I) </td></tr>
      <tr><td>15.00 - 15.15</td> <td>(COFFEE/TEA) BREAK</td></tr>
      <tr><td>15.15 - 16.00</td> <td><a href="">Data visualisation with <a href="https://ggplot2.tidyverse.org"></code>ggplot2</code></a></a> (II) </td></tr>
      <tr>
	<td>After workshop</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

